.mainbutton__button {
    width: 290px;
    height: 290px;
    padding: 10px;
    border-radius: 10%;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 5px gray;
}

.mainbutton__image {
    display: block;
    margin: auto;
    padding: 1rem;
}

.mainbutton__vector {
    filter: invert(99%) sepia(3%) saturate(7153%) hue-rotate(200deg) brightness(116%) contrast(100%);
    width: 200px;
    height: 200px;
    resize: both;
}

.mainbutton__title {
    text-align: right;
}